/bin
/build
.buildpath
.classpath
.settings
.project
*.log
log4j.properties
.externalToolBuilders/
Test.java
*.xml
*.prefs
.metadata
.directory
.settings/.jsdtscope
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.idea

